/* Bootstrap updates */

body {
    background-color: #333333;
}

.jbx-ui .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.jbx-ui .row.no-gutter [class*='col-'],
.jbx-ui .row.no-gutter [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.jbx-ui a {
    color: rgb(71, 168, 75);
    text-decoration: none;
    outline: none;
}

.jbx-ui a:hover {
    color: rgb(181, 220, 183);
    text-decoration: none;
    outline: none;
}

.jbx-ui a:active,
.jbx-ui a:visited {
    text-decoration: none;
    outline: none;
}

.jbx-ui p {
    color: rgb(214, 217, 219);
}

.jbx-ui .navbar-toggle {
    border-color: white;
}

.jbx-ui .navbar-toggle .icon-bar {
    background-color: white;
}

.jbx-ui .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}


/* /Bootstrap updates */


/* Bevels */

.bevel.dark.tr {
    background: url(../img/bevel-dark-tr.png) right top no-repeat;
    padding: 15px;
}

.bevel.dark.br {
    background: url(../img/bevel-dark-br.png) right bottom no-repeat;
    padding: 15px;
}

.bevel.light.br {
    background: url(../img/bevel-light-br.png) right bottom no-repeat;
    padding: 5px 15px;
}

.bevel.green.br {
    background: url(../img/bevel-green-br.png) right bottom no-repeat;
    padding: 5px 15px;
    font-weight: 700;
}


/* /Bevels */

html .jbx-ui {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 13px;
    background-color: #333333;
    color: rgb(214, 217, 219);
}

html .jbx-ui strong {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: white;
}

.jbx-ui .link-group {
    margin-bottom: 15px;
}

.jbx-ui header {
    height: 140px;
}

.jbx-ui header .container {
    height: 160px;
    position: relative;
}

.jbx-ui header .logo {
    position: absolute;
    left: 3px;
    top: 9px;
}

.jbx-ui .mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.jbx-ui footer {
    background: #333333;
    margin-top: 25px;
}

.jbx-ui footer .container {
    background: url('../img/IPE White Logo.svg') 10px 25px no-repeat;
    padding-top: 130px;
    padding-bottom: 25px;
}

.jbx-ui footer #disclaimer {
    padding-top: 25px;
}

.jbx-ui footer p {
    margin: 0 0 20px 0;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.jbx-ui footer p a,
.jbx-ui footer p a:hover {
    color: white;
}

.jbx-ui #content {
    margin: 0;
}

.jbx-ui #feature-image {}

.jbx-ui #map_canvas {
    min-height: 330px;
    ;
    margin-bottom: 25px;
}

.project .jbx-ui #map_canvas {
    min-height: 400px;
    margin: 25px 0;
}


/* Project listing page type */

.mix {
    display: none;
    margin-bottom: 30px;
}

.mix article {
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: rgb(187, 189, 191) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mix article .tag {
    color: #333333;
    display: block;
    line-height: 30px;
    padding: 5px 15px !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.mix article .meta {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    min-height: 90px;
    padding: 5px 15px;
    text-transform: uppercase;
    display: block;
}

.mix article .meta h2 {
    margin: 0;
    line-height: 20px;
    color: white;
    font-size: 0.9rem;
}

.mix article .meta address,
.mix article .meta p,
.mix article .meta a {
    margin: 0;
    line-height: 20px;
    color: rgb(187, 189, 191);
    font-size: 0.8rem;
}

.mix article .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.4s;
}

.mix article:hover .mask {
    opacity: 0.5;
}


/* Project list filter buttons */

.jbx-ui .filters {
    margin-bottom: 20px;
}

.filters.visible-md div.filter-title {
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.filters.visible-md div.row {
    margin: 0;
}

.filters.visible-md div.filter {
    background: rgb(128, 129, 132);
    height: 40px;
    line-height: 40px;
    font-size: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.filters.visible-md div.filter:hover {
    background: rgb(88, 89, 91);
}

.filters.visible-md div.filter.active {
    background: rgb(71, 168, 75);
}


/* Main menu */

.jbx-ui nav {
    margin-top: 40px;
}

.jbx-ui nav a {
    display: block;
    padding-left: 20px;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
}

.jbx-ui nav a:hover {
    color: rgb(181, 220, 183);
    text-decoration: none;
}

.jbx-ui nav a.nav-selected,
.jbx-ui nav a.nav-path-selected {
    background: url('../img/menu-plus.png') left 49% no-repeat;
    color: rgb(71, 168, 75);
    text-decoration: none;
}


/* Project page type */

.jbx-ui #project-links a.back-link {
    margin-top: 20px;
    padding-left: 0;
}

.jbx-ui #project-links a.back-link span {
    display: inline-block;
    width: 20px;
}

.jbx-ui #project-links a {
    text-transform: uppercase;
    color: white;
    display: block;
    padding-left: 20px;
}

.jbx-ui #project-links a:hover {
    color: rgb(181, 220, 183);
    text-decoration: none;
}

.jbx-ui #project-links a.active {
    color: rgb(71, 168, 75);
    background: url('../img/menu-plus.png') left 50% no-repeat;
}

.jbx-ui #overview h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.jbx-ui #overview h1 address {
    display: block;
    color: rgb(214, 217, 219);
    margin-top: 20px;
    font-weight: 300;
    font-size: 1rem;
}

.jbx-ui #overview p {
    font-weight: 300;
    font-size: 1rem;
}


/* Slider */

.jbx-ui #slider,
.jbx-ui #pre-dev-slider {
    margin: 20px 0 20px 0;
    max-height: 384px;
    overflow: hidden;
    position: relative;
    background: #333333;
}

#home .jbx-ui #slider {
    margin-top: 0;
}

.jbx-ui #slider .mask,
.jbx-ui #pre-dev-slider .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white url('/concrete/images/throbber_white_32.gif') 50% 50% no-repeat;
    z-index: 110;
    top: 0;
}

.jbx-ui #slider .controls,
.jbx-ui #pre-dev-slider .controls {
    top: -100%;
    height: 100%;
    position: relative;
    padding: 0;
    width: 100%;
    z-index: 4;
}

.jbx-ui #slider .controls::before,
.jbx-ui #pre-dev-slider .controls::before {
    width: 2000px;
    left: -2030px;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.jbx-ui #slider .controls::after,
.jbx-ui #pre-dev-slider .controls::after {
    width: 2000px;
    height: 100%;
    margin-left: 30px;
    position: absolute;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.jbx-ui #pre-dev-slider .controls #pre-dev-slider-next,
.jbx-ui #slider .controls #slider-next,
.jbx-ui #slider .controls #next {
    width: 120px;
    background: url('../img/arrow-next-small.png') right 20px bottom 50% no-repeat;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
}

.jbx-ui #pre-dev-slider .controls #pre-dev-slider-prev,
.jbx-ui #slider .controls #slider-prev,
.jbx-ui #slider .controls #prev {
    width: 120px;
    background: url('../img/arrow-prev-small.png') left 20px bottom 50% no-repeat;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
}

.jbx-ui #pre-dev-slider .cycle-overlay,
.jbx-ui #slider .cycle-overlay {
    position: relative;
    top: -15%;
    left: 0;
    height: 15%;
    z-index: 5;
    padding: 0;
}

#home .jbx-ui #slider .cycle-overlay .container {
    position: absolute;
    bottom: 0;
    left: -15px;
}

.jbx-ui #slider .cycle-overlay .overlay-container h2 {
    margin-top: 0;
}

.jbx-ui #slider .cycle-overlay .overlay-container p {}

.jbx-ui #slider .cycle-pager {
    position: absolute;
    bottom: 10%;
    height: 10px;
    line-height: 5px;
    overflow: hidden;
    width: 50%;
    left: 25%;
    z-index: 5;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.jbx-ui #slider .cycle-pager span {
    padding: 0 5px;
    cursor: pointer;
}

.jbx-ui #slider .cycle-pager span.cycle-pager-active {
    color: rgb(88, 89, 91);
}

.jbx-ui #pre-dev-slider article.small,
.jbx-ui #slider article.small {
    text-align: center;
    background: url('../img/crosshatch.png') 0 0 repeat;
}

.jbx-ui #pre-dev-slider article img,
.jbx-ui #slider article img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
}


/* Form */

.jbx-ui .formidable {}

.jbx-ui .formidable .formidable_row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jbx-ui .formidable h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

.jbx-ui .formidable input,
.jbx-ui .formidable textarea {
    border: none;
    border-radius: 0;
    background: rgb(128, 129, 132);
    color: white;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    -webkit-appearance: none;
}

.jbx-ui .formidable textarea {
    height: 150px;
}

.jbx-ui .formidable .element {
    margin-bottom: 5px;
}

.jbx-ui .formidable input.btn {
    border: 0;
    background: black;
    color: white;
    box-shadow: none;
    float: right;
    margin: 0;
    width: auto;
}

.jbx-ui .formidable input.submit {
    padding: 2px 40px;
    background: rgb(214, 217, 219);
    color: #333;
}

.jbx-ui .formidable .alert.alert-success {
    background: #444;
    border: none;
    border-radius: 0;
    padding: 25px;
    color: white;
    margin-top: 25px;
}

.jbx-ui .formidable .alert.alert-success p {
    color: white;
}

.jbx-ui .formidable .buttons,
.jbx-ui .formidable .input {
    margin-left: 0;
}

.jbx-ui .formidable .error {
    color: #d9534f;
    padding-top: 5px;
}

#about-us .jbx-ui #content h2 {
    display: block;
    clear: both;
    border-top: 1px solid white;
    margin-top: 20px;
    padding-top: 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

#about-us .jbx-ui #content h2:after {
    font-family: 'symbol_signsbasis_set';
    content: "D";
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 1.5rem;
    font-weight: 300;
}

#about-us .jbx-ui #content h2.open:after {
    font-family: 'symbol_signsbasis_set';
    content: "U";
}

.jbx-ui #featured-image {
    margin-bottom: 25px;
}

.jbx-ui .arrow {
    font-family: 'symbol_signsbasis_set';
}

.jbx-ui .team h3 {
    font-size: 1.2rem;
    margin-top: 0;
}

.jbx-ui .team h4 {
    color: rgb(71, 168, 75);
    font-weight: 300;
    font-size: 1.1rem;
}

.jbx-ui .team .team-member {
    margin-bottom: 50px;
}

.jbx-ui .team .team-member img {
    display: block;
    height: auto;
    width: 166px;
    max-width: 100%;
    margin-bottom: 15px;
}


/* New Home Page */

#home .jbx-ui header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.05) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d000000', GradientType=0);
}

@media screen and (max-width: 767px) {
    #home .jbx-ui header {
        position: static;
    }
    #home .jbx-ui #mixitup .mix {
        margin-bottom: 15px;
    }
}


/*
#home .jbx-ui #slider {
    margin: 0;
}

#home #slider .cycle-pager {
    z-index: 999;
    width: 30%;
    left: 35%;
}

#home #slider .controls {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 0;
    z-index: 999;
}

#home #slider .controls::after,
#home #slider .controls::before {
    background: none;
    width: auto;
    height: auto;
    position: static;
}

#home #slider .controls .container {
    height: 100%;
    position: relative;
}

#home .jbx-ui #slider img.cycle-slide {
    width: 100%;
}

#home .jbx-ui #slider .cycle-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    top: auto;
}
*/

#home .jbx-ui a.logo {
    display: block;
    width: 100%;
    outline: none;
    text-decoration: none;
}

#home .jbx-ui a.logo img {
    display: block;
    float: left;
    margin-right: 40px;
    width: 142px;
    margin-top: 13px;
}

#home .jbx-ui a.logo h1 {
    color: white;
    font-weight: 300;
    font-size: 2.65rem;
    text-transform: uppercase;
}

#home #mixitup {
    margin-top: 25px;
    margin-bottom: 0;
}

#home #mixitup .mix {
    margin-top: 0;
    margin-bottom: 0;
}