.jbx-ui nav a.nav-selected,
.jbx-ui nav a.nav-path-selected {
    color: #c2ab60;
}

.jbx-ui footer .container {}

.mix article .meta h2 {
    color: #c2ab60;
}

.bevel.green.br {
    background: #c2ab60;
}

.jbx-ui a {
    color: rgb(194, 171, 96);
}

.form-view {
    padding: 170px 20% 50px 20%;
}

.form-view input,
select {
    top: -.35em;
    background: rgb(128, 129, 132);
    outline: 0;
    margin: 0 .25em 0 0;
    font-size: 1.1rem;
    line-height: 2em;
    padding: .5em .75em .5em;
    width: 16.75rem;
    max-width: 100%;
    border: 1px solid #f3f4f5;
    transition: all .3s ease-in-out;
    height: 43px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
}

.form-view input::-moz-placeholder {
    color: white;
    font-weight: normal;
}

.submit-btn-buyer {
    width: 16.75rem;
    font-size: 40px;
    background-color: #585858;
    border: 1px solid #f3f4f5;
    height: 43px;
}

.jbx-ui hr {
    border: 1px solid #808184 !important
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
}

.form-view input:focus {
    background-color: white;
    color: #585858;
    font-size: 21px;
    border: 1px solid #E5E5E5;
}

.form-view p {
    line-height: 30px;
    color: rgb(214, 217, 219);
    font-size: 1.1rem;
}

.form-view {
    background-color: #f3f4f5;
}

.submit-btn-buyer {
    transition: all .3s ease-in;
    background-color: rgb(194, 171, 96);
    border: none;
}

.submit-btn-buyer:hover {
    background-color: transparent;
    border: 1px solid rgb(194, 171, 96);
    border-radius: 4px;
}


/* contact page css */

#name-6,
#phone-7,
#email-8 {
    height: 43px;
}

.form-view select {
    color: white;
    margin-bottom: 20px;
    width: 16.75rem;
}

.form-view select {
    font-size: 17px;
}

.jbx-ui nav a.nav-selected,
.jbx-ui nav a.nav-path-selected {
    background: none !important;
}

.formTitle {
    font-size: 33px;
    font-family: '';
    color: white;
}

.form-view {
    background-color: #333333;
}

.form-view p {
    color: rgb(214, 217, 219);
}

.form-view input,
select {
    border: 1px solid #313233;
}

.footer {
    padding-left: 15%;
    background-color: rgb(39, 39, 39);
    height: 242px;
    margin-top: 25px;
}

.footer .footerDescription {
    padding-top: 28px;
}

.footerDescription h3 {
    font-size: 15.5px;
    font-weight: normal color: #bbb8b8;
}

.footerDescription p {
    font-size: 13.5px;
    color: #8a8a8a;
}

.footerDescription img {
    filter: grayscale(100%);
}

.jbx-ui h3 {
    color: #8c8989;
}

.jbx-ui h6,
.jbx-ui .h6 {
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.FooterGnR {
    padding-top: 115px;
    background-color: rgba(31, 31, 31, 0.71);
    height: 242px;
}

.FooterGnR p {
    color: #ffffff;
    font-size: 12.5px;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(./images/spinner.gif) center no-repeat #fff;
}

.jbx-ui .text-center {
    color: #8a8a8a
}

jbx-ui h2,
.jbx-ui h3 {
    font-weight: normal;
}

#content {
    padding-top: 142px;
}


/*End Screen 1920*/


/*End Screen 1366*/

@media (max-width: 1280px) {
    .textSlider h1 {
        left: 20%;
    }
}


/*End Screen 1280*/

@media (max-width: 1024px) {}


/*End Screen 1024*/

@media (max-width: 990px) {
    .footer {
        padding-left: 0px;
    }
    .footer .footerDescription {
        padding: 28px 4% 10px 4%;
    }
}


/*End Screen 990*/

@media (max-width: 860px) {}


/*End Screen 860*/

@media (max-width: 767px) {}


/*End Screen 640*/

@media (max-width: 560px) {}


/*End Screen 560*/

@media (max-width: 480px) {}


/*End Screen 480*/

@media (max-width: 375px) {}


/*End Screen 375*/

@media (max-width: 320px) {}


/* #home .jbx-ui#awr-road header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-usman header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-index header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-nib header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-road-47 header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr_completed header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-buyer header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-about header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-ongoing header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-upcoming header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-landowner header {
    background: #333333;
    position: absolute;
}

#home .jbx-ui#awr-contact header {
    background: #333333;
    position: absolute;
} */

#home .jbx-ui header {
    position: absolute;
}