.jbx-ui h1,
.jbx-ui h2,
.jbx-ui h3 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
}

.jbx-ui h1 {
    font-size: 18px;
}

.jbx-ui h2,
.jbx-ui h3 {
    font-size: 1.1rem;
    color: white;
}

@media screen and (min-width: 992px) {
    .jbx-ui div>h2:first-of-type {
        margin-top: 0;
    }
}

.jbx-ui p,
.jbx-ui label {
    font-size: 1.1rem;
    font-weight: 300;
}

.jbx-ui .quote,
#tinymce .quote {
    color: rgb(71, 168, 75);
    font-size: 2rem;
    font-weight: 300;
    margin: 30px 0px 30px 70px;
}

.jbx-ui .green,
#tinymce .green {
    color: rgb(71, 168, 75);
}