body {
    font-family: 'Roboto slab', sans-serif;
}

p {
    font-size: 12.5px;
}

a {
    font-size: 14px;
}

.top {
    background: url(images/bg-top.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 803px;
}

.section-one {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 15px;
}

.section-one .info {
    text-align: right;
    color: #b7b7b7;
}

.section-one .info img {
    vertical-align: middle;
    padding: 0px 15px 0px 15px;
}

.section-one .info .fa {
    padding-left: 15px;
    color: #c1ac52;
    font-size: 6px;
}

.section-one .nav {
    border: 1px #c1ac52 solid;
}

.section-one .nav img {
    padding: 18px;
    float: left;
    width: 25%;
}

.section-one .nav .menu {
    padding: 25px;
    float: right;
}

.section-one .nav .menu a,
a:visited,
a:focus {
    color: #c1ac52;
    padding-left: 80px;
    font-size: 14px;
    text-decoration: none;
}

.section-two {
    margin-left: 10%;
    background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS';
}

.section-two img {
    margin-bottom: 30px;
    width: 10%;
}


/*Slider */

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    margin-top: 15px;
}

#slider ul li {
    position: relative;
    float: left;
    width: 100%;
    height: 536px;
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: center center;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 87%;
    right: 50px;
    z-index: 999;
    display: block;
    /* padding: 4% 3%; */
    width: auto;
    height: auto;
    /* background: #2a2a2a; */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 1s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 22px;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.slider-box .box {
    background-color: #e7e7e7;
    height: 58%;
    margin-top: 6%;
    margin-left: 51%;
    width: 16%;
    text-align: left;
    padding-left: 50px;
}

.slider-box .box h5 {
    padding-top: 40px;
    color: #c1ac52;
    font-weight: normal;
    font-size: 275%;
}

.slider-box .box hr {
    width: 124px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #c1ac52;
}

.slider-box .box p {
    margin: 1px 16px 0px -1px;
}

.slider-box .box button {
    background: #c1ac52;
    border: none;
    position: absolute;
    bottom: 60px;
    color: white;
    height: 50px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar {
    position: absolute;
    top: 564px;
    left: 2%;
    background: none;
}

.sidebar1 {
    position: absolute;
    top: 630px;
    left: 2%;
    background: none;
}


/*.sidebar a {
    color: white;
    text-decoration: none;
}*/

.sidebar div {
    display: block;
    background-color: #c1ac52;
    padding: 10px;
    line-height: 0px;
    width: 300px;
    margin-bottom: 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar div:hover {
    margin-left: 50px;
}

.sidebar .active {
    margin-left: 50px;
    background: #e2e2e2;
    padding-left: 33px;
}

.sidebar1 .active {
    margin-left: 50px;
    background: #e2e2e2;
    padding-left: 33px;
}

::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 13px;
}

.sidebar1 div {
    display: block;
    background-color: #c1ac52;
    padding: 10px;
    line-height: 0px;
    width: 300px;
    margin-bottom: 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar1 div:hover {
    margin-left: 50px;
}

.gnr {
    background-color: #e2e2e2;
    width: 25%;
    margin-top: -25px;
    padding-left: 7%;
    height: 235px;
    padding-top: 10%;
}

.tab h5 {
    font-size: 14px;
    padding-left: 22px;
    color: white;
}

.tab p {
    font-size: 10px;
    padding-left: 22px;
    color: white;
}


/* Example One */

#example-one {
    list-style: none;
    position: relative;
}

#example-one li {
    display: inline-block;
}

#example-one a {
    color: #bbb;
    font-size: 14px;
    float: left;
    padding: 15px 10px 4px 10px;
    text-decoration: none;
    /*	text-transform: uppercase;*/
}

#example-one a:hover {
    color: #c1ac52;
}

#example-one1 {
    list-style: none;
    position: relative;
}

#example-one1 li {
    display: inline-block;
}

#example-one1 a {
    color: #c1ac52;
    font-size: 14px;
    float: left;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
    /*	text-transform: uppercase;*/
}

#example-one1 a:hover {
    color: #c1ac52;
}

#magic-line {
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #c1ac52;
}

.current_page_item a {
    color: #c1ac52!important;
}

.ie6 #example-one li,
.ie7 #example-one li {
    display: inline;
}

.ie6 #magic-line {
    bottom: -3px;
}


/*Form */


/*.slider-box*/

.box1 {
    background-color: #e2e2e2;
    height: 100%;
    margin-left: 51%;
    width: 15.7%;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.box1::-webkit-scrollbar {
    width: 0.5em;
}

.box1::-webkit-input-placeholder {
    font-weight: normal;
}

.box1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.box1::-webkit-scrollbar-thumb {
    background-color: #c1ac52;
    outline: 1px solid #c1ac52;
}

.box1 p {
    color: #2a275e;
    font-size: 16px;
    padding: 20px 0px 0px 0px;
}


.box1 input,
select,
textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 60px;
    margin-bottom: 5px;
    padding-left: 19px;
    border: none;
}

.sec option {
    border-radius: 0;
    color: white;
}

.box1 select {
    border-radius: none;
}

.box1 input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
    border-color: #c1ac52;
    box-shadow: 0 0 10px #c1ac52;
    border: none;
}

.box1 button {
    margin-top: 30px;
    color: #c1ac52;
    background: #2a275e;
    height: 60px;
    float: right;
    width: 200px;
    border: none;
}

#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2a275e;
    transition: 1s 0.4s;
}

#progress {
    height: 1px;
    background: #2a275e;
    position: absolute;
    width: 0;
    top: 79%;
}

#overlay img {
    margin-left: 42%;
    margin-top: 19%;
    width: 250px;
}

#progstat {
    font-size: 0.7em;
    letter-spacing: 3px;
    position: absolute;
    top: 60%;
    margin-top: -40px;
    width: 100%;
    text-align: center;
    color: #fff;
}


@media only screen and (max-width: 320px) {
    .section-one .nav img {
        padding: 25px;
        width: 100%;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width:768px) and (max-width: 1024px) {
    #Slider ul li {
        background-size: 50%;
    }
}

@media only screen and (min-width: 1224px) and (max-width: 1280px) {
    .top {
        height: 700px;
    }
    #slider {
        margin: 0px;
    }
    .slider-box .box {
        height: 57%;
    }
    #slider ul li {
        height: 485px;
    }
    .slider-box .box h5 {
        font-size: 220%;
    }
    .slider-box .box button {
        bottom: 52px;
    }
    .sidebar {
        position: absolute;
        top: 502px;
        left: 2%;
        background: none;
    }
    .sidebar1 {
        left: 2%;
        top: 568px;
    }
    .slider-box .box1 {
        background-color: #e2e2e2;
        height: 100%;
        margin-left: 50.7%;
        width: 16%;
        height: 89%;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
        position: absolute;
        top: 28px;
    }
    .box1 {
        width: 16%;
    }
}

@media only screen and (min-width:1280) and (max-width:1366px) {
    .slider-box .box1 {
        position: absolute;
        top: 21px;
    }
}

.jbx-ui header .container{
    background-color:#333333 !important;
}

#home .jbx-ui header{
    background:#333333 !important;
}

